/*** AccueilApp.java ***/

.boutonBeier{
    background-color: #c24343; 
    -fx-background-color: linear-gradient(#a5a2a2, #c24343);
    color: white; 
    -fx-text-fill: white;
    font-size: 14px; 
    -fx-font-size: 14px;
    padding: 10px 20px; 
    -fx-padding: 10px 20px;
    border-radius: 5px; 
    -fx-border-radius: 5px;
    cursor: pointer; 
    -fx-cursor: hand;
    min-width: 250px; 
    max-width: 250px; 
    -fx-min-width: 250px;
    -fx-max-width: 250px;
    -fx-pref-width: 250px;
    min-height: 50px; 
    max-height: 50px; 
    -fx-min-height: 50px;
    -fx-max-height: 50px;
    -fx-pref-height: 50px;
}

.boutonBeier:hover {
    background-color: #e97070; 
    -fx-background-color: linear-gradient(#cfcccc, #e97070);
}

.boutonBeier:pressed {
    transform: scale(0.9); 
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
    -fx-scale-z: 0.9;
}

.boutonSimple {
    background-color: #4365c2; 
    -fx-background-color: linear-gradient(#a5a2a2, #4365c2);
    color: white; 
    -fx-text-fill: white;
    font-size: 14px; 
    -fx-font-size: 14px;
    padding: 10px 20px; 
    -fx-padding: 10px 20px;
    border-radius: 5px; 
    -fx-border-radius: 5px;
    cursor: pointer; 
    -fx-cursor: hand;
    min-width: 250px; 
    max-width: 250px; 
    -fx-min-width: 250px;
    -fx-max-width: 250px;
    -fx-pref-width: 250px;
    min-height: 50px; 
    max-height: 50px; 
    -fx-min-height: 50px;
    -fx-max-height: 50px;
    -fx-pref-height: 50px;
}

.boutonSimple:hover {
    background-color: #7087e9; 
    -fx-background-color: linear-gradient(#d8d2d2, #7087e9);
}

.boutonSimple:pressed {
    transform: scale(0.9); 
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
    -fx-scale-z: 0.9;
}

.boutonCourbe {
    background-color: #43c249; 
    -fx-background-color: linear-gradient(#a5a2a2, #43c249);
    color: white; 
    -fx-text-fill: white;
    font-size: 14px; 
    -fx-font-size: 14px;
    padding: 10px 20px; 
    -fx-padding: 10px 20px;
    border-radius: 5px; 
    -fx-border-radius: 5px;
    cursor: pointer; 
    -fx-cursor: hand;
    min-width: 250px; 
    max-width: 250px; 
    -fx-min-width: 250px;
    -fx-max-width: 250px;
    -fx-pref-width: 250px;
    min-height: 50px; 
    max-height: 50px; 
    -fx-min-height: 50px;
    -fx-max-height: 50px;
    -fx-pref-height: 50px;
}

.boutonCourbe:hover {
    background-color: #70e97a; 
    -fx-background-color: linear-gradient(#d8d2d2, #70e97a);
}

.boutonCourbe:pressed {
    transform: scale(0.9); 
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
    -fx-scale-z: 0.9;
}

.phrase {
    font-size: 16px; 
    color: #020202; 
    font-weight: bold; 
    -fx-font-size: 16px;
    -fx-text-fill: #020202;
    -fx-font-weight: bold;
}

.vboxAccueil {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25); 
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 10, 0, 0, 5);
}


/*** MainApp.java ***/

#body {
    background-color: skyblue; 
    -fx-background-color: linear-gradient(white, skyblue);
}

#header {
    text-align: center; 
    padding: 30px; 
    -fx-alignment: center;
    -fx-padding: 30px;
}

#h1 {
    font-size: 50px; 
    -fx-font-size: 50px;
}

#h2 {
    font-size: 30px; 
    -fx-font-size: 30px;
}

/* Les 3 VBox (left, center, right) */
.vb {
    text-align: center; 
    padding: 50px; 
    max-width: 500px; 
    -fx-alignment: center;
    -fx-padding: 50px;
    -fx-max-width: 500px;
}

/* Style et animation des boutons */
.bouton {
    background-color: #c24343; 
    -fx-background-color: linear-gradient(#317AC1, #c24343);
    color: white; 
    -fx-text-fill: white;
    font-size: 14px; 
    -fx-font-size: 14px;
    padding: 10px 20px; 
    -fx-padding: 10px 20px;
    border-radius: 5px; 
    -fx-border-radius: 5px;
    cursor: pointer; 
    -fx-cursor: hand;
}

.bouton:hover {
    background-color: #d37676; 
    -fx-background-color: linear-gradient(#72ace6, #d37676);
}

.bouton:pressed {
    transform: scale(0.9); 
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
    -fx-scale-z: 0.9;
}

#footer {
    text-align: center; 
    padding: 30px; 
    -fx-alignment: center;
    -fx-padding: 30px;
}
